<p id="notice"><%= notice %></p>
<div class="container">
  <h1 style="color:darkkhaki">Lista de Juegos</h1>
</br>

  <% @pins.each do |pin| %>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= pin.name %>
      <%= image_tag(pin.photo, :style => 'width:300px') %>
      <%= pin.description %></br>
      <%= link_to 'Show', pin, :class => 'btn' %>
      <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn' %>
      <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
    </div>
  </div>
  <% end %>

  <br>
  <%= link_to 'New Pin', new_pin_path %>
</div>